.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Map-box {
  background-color: rgb(255, 255, 255);
  min-height: 60vh;
}
